* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 60px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.name-input {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}
