* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 60px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}
