* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 25px;
  align-items: center;
  color: white;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 60px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  background-color: rgb(238, 238, 238);
  padding: 2%;
  flex-direction: column;
  width: 675px;
}

.name-input {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

.rate-radio {
  display: flex;
  flex-direction: row;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  height: 100px;
  color: white;
  background-color: rgb(0, 151, 123);
}

.div-text-area {
  display: flex;
  flex-direction: column;
}

.div-text-area p {
  align-self: flex-end;
}

